<footer>
  <section class="section-4">
    <div class="container-fluid footer-container" style="color:#ffffdd">
      <div class="row" style="font-family: 'Roboto', sans-serif;font-size: 1.2rem;margin-bottom:1.5rem;color:#d3de32">
        <div class="col">
          ABOUT
        </div>
        <div class="col">
          HELP
        </div>
        <div class="col">
          POLICY
        </div>
        <div class="col">
          SOCIAL
        </div>

      </div>
      <div class="row">
        <div class="col">
          Contact Us
        </div>
        <div class="col">
          <form action="/payment" method="get" target="myFrame" id="myForm">Payments</form>
        </div>
        <div class="col">
          Return Policy
        </div>
        <div class="col">
          Facebook
        </div>

      </div>
      <div class="row">
        <div class="col">
          About Us
        </div>
        <div class="col">
          shipping
        </div>
        <div class="col">
          Terms Of Use
        </div>
        <div class="col">
          Twitter
        </div>

      </div>
      <div class="row">
        <div class="col">
          Careers
        </div>
        <div class="col">
          Cancellation & Returns
        </div>
        <div class="col">
          Security
        </div>
        <div class="col">
          YouTube
        </div>

      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          FAQ
        </div>
        <div class="col">
          Privacy
        </div>
        <div class="col">

        </div>

      </div>

      <div class="container social-menu">
        <a href="" class="linkedin"><i class="fab fa-linkedin fa-4x" style="  color: #f7f5dd;"></i></a>
        <a href="" class="facebook"><i class="fab fa-facebook-square fa-4x" style="  color: #f7f5dd;"></i></a>
        <a href="" class="youtube"><i class="fab fa-youtube-square fa-4x" style="  color: #f7f5dd;"></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram-square fa-4x" style="  color: #f7f5dd;"></i></a>
        <a href="" class="twitter"><i class="fab fa-twitter-square fa-4x" style="  color: #f7f5dd;"></i></a>

      </div>

  </section>

</footer>
